@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

* {
	margin: 0 auto;
	padding: 0;
}

#log1 {
	height: 0px;
	width: 0px;
	opacity: 0;
	visibility: hidden;
	margin: 11% 22%;
	background-color: skyblue;
	position: fixed;
	z-index: 1;
	transition: all 1s;
}

.navbar{
	height: 50px;
	transition: height 1s;
	width: 100%;
	background: #007c9f;
}

.search-box {
	height: 0px;
	width: 0px;
	visibility: hidden;
}

.login-nav {
	cursor: pointer;
}

.search-box.toggle-sb {
	height: 15px;
	width: 70px;
	visibility: visible;
	transition: all 1s;
}

.nav-elm {
	display: block;
	float: right;
	position: relative;
}

.logo, .search {
	float: left;
}

.search-bar {
	font-size: 45px;
	height: 30px;
	color: white;
}

.search-bar:hover {
	cursor: pointer;
}

.drop-menu {
	display: none;
}

.navbar a {
	display: block;
	padding: 15px 15px;
	text-decoration: none;
	color: white;
	font-size: 20px;
	line-height: 20px;
	font-weight: 500 bolder;
	font-family: 'Titillium Web', sans-serif;
}

.navbar a:hover {
	color: lightblue
}

.invalid-login:not(.active) {
	display: block;
	visibility: hidden;
	width: 50%;
	height: 0px;
	z-index: 1;
	background-color: rgb(0, 128, 153);
	transition: height 1s;
}

.invalid-login.active {
	visibility: visible;
	height: 30px;
	font-size: 13px;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	transition: height 1s;
}

@media only screen and (max-width: 620px) {
	.invalid-login.active {
		height: 70px;
	}
	.navbar a {
		display: none;
	}

	.drop-menu {
		display: block;
		visibility: visible;
		float: left;
	}

	.search {
		float: right;
	}

	.navbar.toggle-dm {
		height: 200px;
		transition: height 1s;
	}

	 .navbar.toggle-dm .logo, .navbar.toggle-dm .search {
		display: none;
	}

	.navbar.toggle-dm .keys {
		display: flex;
		flex-direction: column;
		opacity: 1;
		transition: opacity 0.9s;
	}
	.navbar.toggle-dm a {
		visibility: visible;
		display: block;
		width: 100%;
	}
}
