@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic');
@import url('https://fonts.googleapis.com/css?family=Vollkorn:700italic,400');
@import url('https://fonts.googleapis.com/css?family=Muli');

* {
  margin: 0 auto;
  padding: 0
}

body {
  background-image: url(../img/bg-pattern.gif);
  background-repeat: round;
  background-blend-mode: overlay;
  background-color: rgba(255, 255, 255, 0.5);
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  height: calc(100vh - 50px);
  background-image: url(../img/agileteam.jpg);
  background-size: cover;
  background-position: center top;
  text-align: center;
  width: 100%;
}

/*First Screen CSS*/
.landing h1 {
  font-family: 'Vollkorn', serif;
  font-size: 44px;
  color: #008099
}

.landing p {
  font-family: 'Muli', sans-serif;
  padding: 35px;
  font-size: 1.5em;
}

#submit {
  height: 50px;
  width: 220px;
  background: #04d2ea;
  color: inherit;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

#submit:hover {
  background: #AE3C58;
}

input:focus {
  outline: none;
  border: 2px solid #BA4662;
  box-shadow: 0 0 10px #BA4662;
}

/*How It Works Block*/
.hiw-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.hiw-block h2 {
  font-family: 'Vollkorn', serif;
  font-size: 38px;
  color: #1e7f86;
}

.hiw-block .hiw-step {
  width: 175px;
  height: 175px;
  margin-bottom: 15vh;
}

.hiw-block .hiw-process-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.hiw-block .hiw-process-block .step-1 {
  background-image: url(../img/sign-up.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.hiw-block .hiw-process-block .step-2 {
  background-image: url(../img/report.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.hiw-block .hiw-process-block .step-3 {
  background-image: url(../img/connect-to-team.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.hiw-block .hiw-process-block .step-4 {
  background-image: url(../img/service.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.hiw-block .hiw-process-block .hiw-step-para {
  margin-top: 180px;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  color: darkslategray
}

/*Media Queries*/

@media Screen and (max-width: 385px) {
  .hiw-block {
    margin-top: 10vh;
    height: auto;
  }
}
