@import url('https://fonts.googleapis.com/css?family=Vollkorn:700italic,400');
@import url('https://fonts.googleapis.com/css?family=Muli');

body {
  background-image: url(../img/bg-pattern.gif);
  background-repeat: round;
  background-blend-mode: overlay;
  background-color: rgba(255, 255, 255, 0.5);
}

.page-start {
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: center;
  align-items: center;
  margin-right: 12.5%;
  margin-top: 35px;
  background-color: lightgray;
  width: 75%;
}

.page-start .head-cat {
  font-size: 28px;
  font-family: 'Muli', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.lower-div{
  width: 100%
}

.jobt {
  -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
  background-color: white;
  padding: 25px;
  font-family: 'Vollkorn', serif;
  margin-bottom: 15px;
  text-overflow: clip;
  width: 75%;
}

.jobt .job-heads {
  margin-bottom: 2.5px;
  font-weight: bolder;
}

.jobt .job-details {
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  font-weight: normal;
}

.jobt .sm-btn {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  height: 30px;
  width: 120px;
  background-color: rgba(0, 144, 185, 0.66);
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  letter-spacing: 3px;
  border: none;
  outline: none;
  cursor: pointer;
}
