<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bad Request</title>
  </head>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      background-color: skyblue;
    }
  </style>
  <body>
    <h1>Error 401: Unauthorized!</h1>
    <h2>Don't try going where you're not supposed to be</h2>
    <button type="button" name="button">Take Me To Home Page</button>
  </body>
</html>
