<section class="landing">
  <section class="brand-block">
    <h1>Welcome to <em>Gaza Works Online</em></h1>
    <p>Team up, get things done!</p>
    <input type="submit" id="submit" value="Get Started">
  </section>
  <section class="hiw-block">
    <h2><em>How It Works?</em></h2>
    <section class="hiw-process-block">
      <div class="hiw-step step-1">
        <p class="hiw-step-para">Sign Up!</p>
      </div>
      <div class="hiw-step step-2">
        <p class="hiw-step-para">Post/Find A Project.</p>
      </div>
      <div class="hiw-step step-3">
        <p class="hiw-step-para">Connect To Your Team.</p>
      </div>
      <div class="hiw-step step-4">
        <p class="hiw-step-para">Get It Done.</p>
      </div>
    </section>
  </section>
</section>
