<section class="login">
  <form class="login-form">
    <div class="username-input">
      <label for="form-username">Enter Username</label>
      <input id="form-username" type="text" name="form-username" value="" placeholder="Enter Username">
    </div>
    <div class="password-input">
      <label for="form-password">Enter Password</label>
      <input id="form-password" type="text" name="form-password" value="" placeholder="Enttexter Password">
    </div>
    <div class="submit-input">
      <input type="submit" name="submit-button" value="Login">
    </div>
  </form>
</section>
