<form class="form">
  <h2>Post a Project</h2>
  <div class="form-group">
    <label>Title:</label>
    <div class="relative">
      <input name="title" class="form-control" id="title" type="text" required="" autofocus="" placeholder="Type your project name here...">
    </div>
  </div>
  <div>
    <div class="form-group">
      <label>Skills:</label>
      <div class="relative">
        <input name="skills" class="form-control" id="skills" required="" placeholder="Type the needed skills...">
      </div>
    </div>
    <div class="form-group">
      <label>Budget:</label>
      <div class="relative">
        <input name="budget" class="form-control" id="budget" type="number" min="0" required="" placeholder="00.00$...">
      </div>
    </div>
  </div>
  <div class="">
    <div class="form-group">
      <label>Duration:</label>
      <div class="relative">
        <input name="lifetime" class="form-control" id="duration" type="number" min="0" required="" placeholder="Type the project liftime per days...">
      </div>
    </div>
    <div class="form-group">
      <label>Dead Line:</label>
      <div class="relative">
        <input name="deadLine" class="form-control" id="deadLine" type="date" required="">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Category:</label>
    <div class="relative">
      <select id="category" name="category" class="form-control" required> <!--Supplement an id here instead of using 'text'-->
  <option value="1">Web Development</option>
</select>
    </div>
  </div>

  <div class="form-group">
    <label>Description:</label>
    <div class="relative">
      <input name="description" class="form-control" id="description" type="text" required="" maxlength="3000" placeholder="Write some description about the project...">
    </div>
  </div>

  <div class="tright">
    <button class="movebtn movebtnsu" id="postProject" type="submit">Submit</button>
  </div>
</form>

<div class="thanks" style="display: none;">
  <h4>Thank you!</h4>
  <p><small>Your message has been successfully sent.</small></p>
</div>

<script type="text/javascript" src="/js/postProject.js"></script>
