<div class="landing">
<h1>Post A Project</h1>
<form>
  <div class="query title">
    <label>Title</label>
    <input type="text" name="project-title" value="" placeholder="Enter the title of the project..." required>
  </div>
  <div class="query deadline">
    <label>DeadLine</label>
    <input type="date" name="proposing-deadline" value="" required>
  </div>
  <div class="query lifetime">
    <label>Lifetime</label>
    <input type="date" name="project-lifetime" value="" required>
  </div>
  <div class="query categories">
    <label>Class</label>
    <input type="text" name="related-categories" value="" placeholder="Enter related categories..." required>
  </div>
  <div class="query budget">
    <label>Budget</label>
    <input type="number" name="project-budget" value="0" min="0" required>
  </div>
  <div class="query description">
    <label>Description</label>
    <textarea name="project-description" rows="8" cols="80" required></textarea>
  </div>
  <div class="query">
    <input class="submit" type="submit" name="submit" value="Submit Project">
  </div>
</form>
<script type="text/javascript" src="/js/postProject.js"></script>
</div>
