<section class="section-start">
  <header class="section-header">
    <h1>Gaza Works Online - Sign Up</h1>
  </header>
    <div class="container">
      <div class="start-signup">
        <form>
          <div class="text-input-container">
            <input type="text" id="usr" placeholder="Username"/>
            <input type="text" id="email" placeholder="Email"/>
            <input type="password" id="pwd"placeholder="Password"/>
            <input type="password" id="pwd-confirmation" placeholder="Confirm Password"/>
          </div>
          <button id="submit-btn"/>Signup</button>
        </form>
      </div>
    </div>
</section>
<script src="js/signUp.js"></script>
