<section class="section-start">
  <header class="section-header">
    <h1>Gaza Works Online - Sign Up</h1>
  </header>
    <div class="container">
      <div class="start-signup">
        <form id="signup-form">
          <div class="text-input-container">
            <input type="text" id="usr" placeholder="Username" minlength="5" required/>
            <input type="email" id="email" placeholder="Email"/>
            <input type="password" id="pwd" placeholder="Password" minlength="8" required/>
            <input type="password" id="pwd-confirmation" placeholder="Confirm Password" minlength="8" required/>
          </div>
          <button id="submit-btn"/>Signup</button>
        </form>
      </div>
    </div>
</section>
<script src="/js/signUp.js"></script>
