<div class="jobt">
  <h2>Job Title</h2>
  <div>
    <h3>Category name</h3>
    <h3>Skills needed</h3>
    <h4>time, budget</h4>
    <p>briefe description blah blah blah blahblah blah   blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah   blah blah </p>
    <div>
      <button type="button" name="button">related cat#1</button>
      <button type="button" name="button">related cat#2</button>
      <button type="button" name="button">related cat#3</button>
    </div>
  </div>
</div>
<div class="jobt">
  <h2>Job Title</h2>
  <div>
    <h3>Category name</h3>
    <h3>Skills needed</h3>
    <h4>time, budget</h4>
    <p>briefe description blah blah blah blahblah blah   blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah   blah blah </p>
    <div>
      <button type="button" name="button">related cat#1</button>
      <button type="button" name="button">related cat#2</button>
      <button type="button" name="button">related cat#3</button>
    </div>
  </div>
</div>
<div class="jobt">
  <h2>Job Title</h2>
  <div>
    <h3>Category name</h3>
    <h3>Skills needed</h3>
    <h4>time, budget</h4>
    <p>briefe description blah blah blah blahblah blah   blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah   blah blah </p>
    <div>
      <button type="button" name="button">related cat#1</button>
      <button type="button" name="button">related cat#2</button>
      <button type="button" name="button">related cat#3</button>
    </div>
  </div>
</div>
<div class="jobt">
  <h2>Job Title</h2>
  <div>
    <h3>Category name</h3>
    <h3>Skills needed</h3>
    <h4>time, budget</h4>
    <p>briefe description blah blah blah blahblah blah   blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah   blah blah </p>
    <div>
      <button type="button" name="button">related cat#1</button>
      <button type="button" name="button">related cat#2</button>
      <button type="button" name="button">related cat#3</button>
    </div>
  </div>
</div>
<div class="jobt">
  <h2>Job Title</h2>
  <div>
    <h3>Category name</h3>
    <h3>Skills needed</h3>
    <h4>time, budget</h4>
    <p>briefe description blah blah blah blahblah blah   blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah   blah blah </p>
    <div>
      <button type="button" name="button">related cat#1</button>
      <button type="button" name="button">related cat#2</button>
      <button type="button" name="button">related cat#3</button>
    </div>
  </div>
</div>
<div class="jobt">
  <h2>Job Title</h2>
  <div>
    <h3>Category name</h3>
    <h3>Skills needed</h3>
    <h4>time, budget</h4>
    <p>briefe description blah blah blah blahblah blah   blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah   blah blah </p>
    <div>
      <button type="button" name="button">related cat#1</button>
      <button type="button" name="button">related cat#2</button>
      <button type="button" name="button">related cat#3</button>
    </div>
  </div>
</div>
<div class="jobt">
  <h2>Job Title</h2>
  <div>
    <h3>Category name</h3>
    <h3>Skills needed</h3>
    <h4>time, budget</h4>
    <p>briefe description blah blah blah blahblah blah   blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah   blah blah </p>
    <div>
      <button type="button" name="button">related cat#1</button>
      <button type="button" name="button">related cat#2</button>
      <button type="button" name="button">related cat#3</button>
    </div>
  </div>
</div>
