<section class="navbar-block">
  <div class="navbar-top">
    <div class="footer-top-left">
      <h2>GWO Guide:</h2>
      <p>Test Link</p>
      <p>Test Link</p>
      <p>Test Link</p>
      <p>Test Link</p>
    </div>
    <div class="footer-top-middle">
      <h2>Contact Us:</h2>
      <p>Test Link</p>
      <p>Test Link</p>
      <p>Test Link</p>
    </div>
    <div class="footer-top-right">
      <h2>Browse:</h2>
      <p>Test Link</p>
      <p>Test Link</p>
    </div>
  </div>
  <div class="footer-social">
    <h4>Social:</h4>
  </div>
  <div class="footer-tail">
    <h6>Gaza Works Online - 2018</h6>
  </div>
</section>
