<div class="navbar">
  <ul class="nav">
    <li class="nav-item"><a href="#"><i class="icon-fixed-width icon-home"></i>Home</a></li>
    <li class="nav-item"><a href="#"><i class="icon-fixed-width icon-coffee"></i>Categories</a></li>
    <li class="nav-item"><a href="#"><i class="icon-fixed-width icon-user"></i>Sign Up</a></li>
    <li class="nav-item"><a href="#"><i class="icon-fixed-width icon-envelope"></i>Login</a></li>
  </ul>
</div>
