  <div class="topnav">
  <a class="active">Home</a>
  <input type="text" placeholder="Search..">
  <div class="topnav1">
    <a>How It Works</a>
    <a>Browse</a>
    <a>Sign Up</a>
    <a>Login</a>
  </div>
</div>
